/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-size: 15pt;
     font-family: Times New Roman, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #080705;
    color: #F2E9E4;
}

/* Header styles */
header {
    background-color: #362023;
    padding: 1.5em;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5em;
    color: #F2E9E4;
}

header nav {
    margin-top: 1em;
}

header nav a {
    margin: 0 15px;
    color: #C9ADA7;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
    color: #F2E9E4;
}

/* Review Box Section */
.reviews {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.review-box {
    background-color: #362023;
    color: #F2E9E4;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.review-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.review-box textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #C9ADA7;
    background-color: #9A8C98;
    color: #F2E9E4;
    font-size: 1em;
}

.review-box textarea:focus {
    outline: none;
    border: 1px solid #F2E9E4;
}

/* Hero Section */
.hero {
    background-color: #9A8C98;
    padding: 100px 20px;
    text-align: center;
    color: #F2E9E4;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    color: #F2E9E4;
}

/* Content Section */
.content {
    background-color: #F2E9E4;
    padding: 50px 20px;
    text-align: center;
    color: #362023;
}

.content .container {
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.content p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer styles */
footer {
    background-color: #362023;
    text-align: center;
    padding: 1.5em;
    margin-top: 50px;
}

footer p {
    color: #C9ADA7;
}

/* Responsive Design */
@media (max-width: 768px) {
    .reviews {
        flex-direction: column;
    }

    .review-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .content h2 {
        font-size: 1.5em;
    }

    .content p {
        font-size: 1em;
    }
}


